*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

h1 {
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

body {

    z-index: 1;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#first, #second, #third {

    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    text-align: center;


}

#my_camera{
    width: 320px;
    height: 240px;
    border: 1px solid black;
    box-shadow: -6px 3px 11px 5px rgba(0,0,0,0.28);
    -webkit-box-shadow: -6px 3px 11px 5px rgba(0,0,0,0.28);
    -moz-box-shadow: -6px 3px 11px 5px rgba(0,0,0,0.28);
}

input[type="button"] {
    padding: 10px;
    background-color: white;
    width: 320px;
    border: 1px solid black;
    box-shadow: -6px 3px 11px 5px rgba(0,0,0,0.28);
    -webkit-box-shadow: -6px 3px 11px 5px rgba(0,0,0,0.28);
    -moz-box-shadow: -6px 3px 11px 5px rgba(0,0,0,0.28);
}

#results {
    width: 320px;
    height: 240px;
    border: 1px solid black;
    box-shadow: -6px 3px 11px 5px rgba(0,0,0,0.28);
    -webkit-box-shadow: -6px 3px 11px 5px rgba(0,0,0,0.28);
    -moz-box-shadow: -6px 3px 11px 5px rgba(0,0,0,0.28);
}

#test {
    margin-bottom: 3px;
    width: 320px;
    height: 240px;
    border: 1px solid black;   
    box-shadow: -6px 3px 11px 5px rgba(0,0,0,0.28);
    -webkit-box-shadow: -6px 3px 11px 5px rgba(0,0,0,0.28);
    -moz-box-shadow: -6px 3px 11px 5px rgba(0,0,0,0.28);
}

p {
    text-align: center;
}

#shapecontainer {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

#shapelist {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 100px;
    border: 1px solid black;   
    background-color: white;
    box-shadow: -6px 3px 11px 5px rgba(0,0,0,0.28);
    -webkit-box-shadow: -6px 3px 11px 5px rgba(0,0,0,0.28);
    -moz-box-shadow: -6px 3px 11px 5px rgba(0,0,0,0.28);
}

#contourtext {
    margin-top: -7px;
    padding: 8px;
    background-color: white;
    width: 320px;
    border: 1px solid black;
    box-shadow: -6px 3px 11px 5px rgba(0,0,0,0.28);
    -webkit-box-shadow: -6px 3px 11px 5px rgba(0,0,0,0.28);
    -moz-box-shadow: -6px 3px 11px 5px rgba(0,0,0,0.28);
}

